/*body {
    background-color:#ded8d8;
}
.YourButtonStyle
{
    background-color: #6cb200;
    color: #6cb200;
    border: 0;
    padding: 10px 15px;
    font-size: 14px;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 18px;
}
.YourButtonStyle:hover
{
    background: #89c33f;
}*/